{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Animation Utilities</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
<script src="{% static 'js/cities.js' %}"></script>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {% include 'sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% include 'topbar.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-1 text-gray-800">Add Customer Details</h1>
          <br><br>
          <!-- Content Row -->
          <div class="row">

            <!-- Fade In Utility -->
            <div class="col">

              <div class="card position-relative">
                <div class="card-body">
                  <form method="POST" class="user" action="add_customer_table" id="form" onsubmit = "validateform()">
                    {% csrf_token %}
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Personal Details</h6>
                    </div><br>
                    <div class="form-group form-inline">
                      <label class="col-2" style="color: black"><b>Name:</b></label>
                      <div class="mr-3">
                        <input type="text" class="form-control" style="width:300px" name="name">
                      </div>
                      <label class="col-2" style="color: black"><b>Mobile No.:</b></label>
                      <div class="mr-3">
                        <input type="number" class="form-control" style="width:300px" name="mobile">
                      </div>
                    </div>
                    <div class="form-group form-inline">
                      <label class="col-2" style="color: black"><b>Email:</b></label>
                      <div class="mr-3">
                        <input type="text" class="form-control" style="width:300px" name="email">
                      </div>
                      <label class="col-2" style="color: black"><b>Loan Type:</b></label>
                        <div class="mr-3">
                          <select class="custom-select col-10" style="width:300px" name="loan_type">
                            <option selected>Select Loan Type</option>
                            {% for j in loan_type %}
                              <option value={{ j.loan_type }}>{{ j.loan_type }}</option>
                            {% endfor %}
                          </select>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                      <label class="col-2" style="color: black"><b>Customer Type:</b></label>
                        <div class="mr-3">
                          <select class="custom-select col-10" style="width:300px" name="custo_type">
                            <option selected>Select Customer Type</option>
                            {% for j in custo_type %}
                              <option value={{ j.type }}>{{ j.type }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      <label class="col-2" style="color: black"><b>Tenure(months):</b></label>
                        <div class="mr-3">
                          <select class="custom-select col-10" style="width:300px" name="ten">
                            <option selected>Select Tenure</option>
                            {% for j in t %}
                              <option value={{ j.tenure }}>{{ j.tenure }}</option>
                            {% endfor %}
                          </select>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                      <label class="col-2" style="color: black"><b>Loan Amount:</b></label>
                      <div class="mr-3">
                        <input type="number" class="form-control" style="width:300px" name="loan_amt">
                      </div>
                    </div>

                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Income Details</h6>
                    </div><br>
                    <div class="form-group form-inline">
                      <label class="col-2" style="color: black"><b>Cibil Score:</b></label>
                      <div class="mr-3">
                        <input type="number" class="form-control" style="width:300px" name="cibil_score">
                      </div>
                      <label class="col-2" style="color: black"><b>Salary Credit [Bank Name]:</b></label>
                      <div class="mr-3">
                        <input type="text" class="form-control" style="width:300px" name="bank_name">
                      </div>
                    </div>
                    <div class="form-group form-inline">
                      <label class="col-2" style="color: black"><b>Gross Salary:</b></label>
                      <div class="mr-3">
                        <input type="number" class="form-control" style="width:300px" name="gross_sal">
                      </div>
                      <label class="col-2" style="color: black"><b>Net Salary:</b></label>
                      <div class="mr-3">
                        <input type="number" class="form-control" style="width:300px" name="net_sal">
                      </div>
                    </div>
                    <div class="form-group form-inline">
                      <label class="col-2" style="color: black"><b>Age:</b></label>
                      <div class="mr-3">
                        <input type="number" class="form-control" style="width:300px" name="age">
                      </div>
                      <label class="col-2" style="color: black"><b>Retirement Age:</b></label>
                      <div class="mr-3">
                        <input type="number" class="form-control" style="width:300px" name="retire_age">
                      </div>
                    </div>
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Company Details</h6>
                    </div><br>
                    <div class="form-group form-inline">
                      <label class="col-2" style="color: black"><b>Company Type:</b></label>
                        <div class="mr-3">
                          <select class="custom-select col-10" style="width:300px" name="company_type">
                            <option selected>Select Company Type</option>
                            {% for j in com_type %}
                              <option value={{ j.co_type }}>{{ j.co_type }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      <label class="col-2" style="color: black"><b>Company Name:</b></label>
                        <div class="mr-3">
                          <select class="custom-select col-10" style="width:300px" name="company_name">
                            <option selected>Select Company Name</option>
                            {% for j in com_name %}
                              <option value={{ j.co_name }}>{{ j.co_name }}</option>
                            {% endfor %}
                          </select>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                      <label class="col-2" style="color: black"><b>Designation:</b></label>
                      <div class="mr-3">
                        <input type="text" class="form-control" style="width:300px" name="designation">
                      </div>
                      <label class="col-2" style="color: black"><b>Designation Type:</b></label>
                        <div class="mr-3">
                          <select class="custom-select col-10" style="width:300px" name="designation_type">
                            <option selected>Select Designation Type</option>
                            {% for i in des %}
                              <option value={{i.design}}>{{i.design}}</option>
                            {% endfor %}
                          </select>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                      <label class="col-2" style="color: black"><b>Current Experience:</b></label>
                      <div class="mr-3">
                        <input type="number" class="form-control" style="width:300px" name="current_exp">
                      </div>
                      <label class="col-2" style="color: black"><b>Total Experience:</b></label>
                      <div class="mr-3">
                        <input type="number" class="form-control" style="width:300px" name="total_exp">
                      </div>
                    </div>
                    <div class="form-group form-inline">
                      <label class="col-2" style="color: black"><b>Employment Type:</b></label>
                        <div class="mr-3">
                          <select class="custom-select col-10" style="width:300px" name="emp_type">
                            <option selected>Select Employment Type</option>
                            <option value="Permanent">Permanent</option>
                            <option value="Temporary">Temporary</option>
                            <option value="Contractual">Contractual</option>
                            <option value="Consulting">Consulting</option>
                            <option value="Freelancer">Freelancer</option>
                            <option value="Internship">Internship</option>
                          </select>
                        </div>
                      <label class="col-2" style="color: black"><b>Form 16?</b></label>
                        <div class="mr-3">
                          <select class="custom-select col-10" style="width:300px" name="form_16">
                            <option selected>Form 16 taken?</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                          </select>
                        </div>
                    </div>
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Residence Details</h6>
                    </div><br>
                    <div class="form-group form-inline">
                      <label class="col-3" style="color: black"><b>Current Residence Type:</b></label>
                        <div class="mr-3">
                          <select class="custom-select col-10" style="width:300px" name="residence_type">
                            <option selected>Select Residence Type</option>
                            {% for i in res %}
                              <option value={{i.r_type}}>{{i.r_type}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      <label class="col-3" style="color: black"><b>Select State:</b></label>
                        <div class="mr-3">
                            <select onchange="print_city('state', this.selectedIndex);" id="sts" name ="stt" required></select>
                        </div>
                      <label class="col-3" style="color: black"><b>Select City:</b></label>
                        <div class="mr-3">
                            <select id ="state" name="sttt" required></select>
                        </div>
                      <script language="javascript">print_state("sts");</script>
                    </div>


                    <div style="text-align:center">
                    <button class="btn btn-primary mr-3" type="submit">Add</button>
                    </div>


                  </form>
                </div>
              </div>

            </div>

          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->



    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <footer>
  <center><p></br></p></center>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


  <script type="text/javascript">
    function validate()
    {
      var cust_type = document.form.cust_type.value;

      if (cust_type == null)
      {
        alert("All Fields Are Mandatory!");
      }
    }
  </script>


</body>

</html>
