{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Animation Utilities</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {% include 'sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% include 'topbar.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-1 text-gray-800">Edit Customer Details</h1>
          <br><br>
          <!-- Content Row -->
          <div class="row">

            <!-- Fade In Utility -->
            <div class="col">

              <div class="card position-relative">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Customer Details</h6>
                </div>
                <div class="card-body">
                  <form method="POST" class="user" action="cust_edit_table" id="form" onsubmit = "validateform()" data-company-url="{% url 'ajax_load_company' %}" data-cocat-url="{% url 'ajax_load_cocat' %}">
                    {% csrf_token %}

                    <input type="hidden" value={{prd.id}} name="id">
                      <div class="form-group form-inline">
                        <label class="col-2" style="color: black"><b>Name:</b></label>
                        <div class="mr-3">
                          <input class="form-control" value="{{prd.name}}" type="text" style="width:300px" name = "name">
                        </div>
                        <label class="col-2" style="color: black"><b>Mobile No.:</b></label>
                        <div class="mr-3">
                          <input class="form-control" value="{{prd.mobile}}" type="text" style="width:300px" name = "mobile">
                        </div>
                      </div>

                      <div class="form-group form-inline">
                        <label class="col-2" style="color: black"><b>Email:</b></label>
                        <div class="mr-3">
                          <input class="form-control" value="{{prd.email}}" type="text" style="width:300px" name = "email">
                        </div>
                        <label class="col-2" style="color: black"><b>Cibil Score:</b></label>
                        <div class="mr-3">
                          <input class="form-control" value="{{prd.cibil_score}}" type="text" style="width:300px" name = "cibil_score">
                        </div>
                      </div>


                      <div class="form-group form-inline">
                        <label class="col-2" style="color: black"><b>Bank Name:</b></label>
                        <div class="mr-3">
                          <input class="form-control" value="{{prd.bank_name}}" type="text" style="width:300px" name = "bank_name">
                        </div>
                        <label class="col-2" style="color: black"><b>Gross Salary:</b></label>
                        <div class="mr-3">
                          <input class="form-control" value="{{prd.gross_sal}}" type="text" style="width:300px" name = "gross_sal">
                        </div>
                      </div>

                      <div class="form-group form-inline">
                        <label class="col-2" style="color: black"><b>Net Salary:</b></label>
                        <div class="mr-3">
                          <input class="form-control" value="{{prd.net_sal}}" type="text" style="width:300px" name = "net_sal">
                        </div>
                        <label class="col-2" style="color: black"><b>Age:</b></label>
                        <div class="mr-3">
                          <input class="form-control" value="{{prd.age}}" type="text" style="width:300px" name = "age">
                        </div>
                      </div>

                      <div class="form-group form-inline">
                        <label class="col-2" style="color: black"><b>Retirement Age:</b></label>
                        <div class="mr-3">
                          <input class="form-control" value="{{prd.retire_age}}" type="text" style="width:300px" name = "retire_age">
                        </div>
                        <label class="col-2" style="color: black"><b>Company Type:</b></label>
                        <div class="mr-3">
                          <input class="form-control" value="{{prd.company_type}}" type="text" style="width:300px" name = "company_type">
                        </div>
                      </div>


                      <div class="form-group form-inline">
                        <label class="col-2" style="color: black"><b>Designation:</b></label>
                        <div class="mr-3">
                          <input class="form-control" value="{{prd.designation}}" type="text" style="width:300px" name = "designation">
                        </div>
                        <label class="col-2" style="color: black"><b>Designation Type:</b></label>
                        <div class="mr-3">
                          <input class="form-control" value="{{prd.designation_type}}" type="text" style="width:300px" name = "designation_type">
                        </div>
                      </div>

                      <div class="form-group form-inline">
                        <label class="col-2" style="color: black"><b>Current Experience:</b></label>
                        <div class="mr-3">
                          <input class="form-control" value="{{prd.current_exp}}" type="text" style="width:300px" name = "current_exp">
                        </div>
                        <label class="col-2" style="color: black"><b>Total Experience:</b></label>
                        <div class="mr-3">
                          <input class="form-control" value="{{prd.total_exp}}" type="text" style="width:300px" name = "total_exp">
                        </div>
                      </div>



                      <div class="form-group form-inline">
                        <label class="col-2" style="color: black"><b>Employment Type:</b></label>
                        <div class="mr-3">
                          <input class="form-control" value="{{prd.emp_type}}" type="text" style="width:300px" name = "emp_type">
                        </div>
                        <label class="col-2" style="color: black"><b>Form 16:</b></label>
                        <div class="mr-3">
                          <input class="form-control" value="{{prd.form_16}}" type="text" style="width:300px" name = "form_16">
                        </div>
                      </div>



                      <div class="form-group form-inline">
                        <label class="col-2" style="color: black"><b>Residence Type:</b></label>
                        <div class="mr-3">
                          <input class="form-control" value="{{prd.residence_type}}" type="text" style="width:300px" name = "residence_type">
                        </div>
                        <label class="col-2" style="color: black"><b>State:</b></label>
                        <div class="mr-3">
                          <input class="form-control" value="{{prd.stt}}" type="text" style="width:300px" name = "stt">
                        </div>
                      </div>


                      <div class="form-group form-inline">
                        <label class="col-2" style="color: black"><b>City:</b></label>
                        <div class="mr-3">
                          <input class="form-control" value="{{prd.sttt}}" type="text" style="width:300px" name = "sttt">
                        </div>
                        <label class="col-2" style="color: black"><b>Tenure:</b></label>
                        <div class="mr-3">
                          <input class="form-control" value="{{prd.tenure}}" type="text" style="width:300px" name = "tenure">
                        </div>
                      </div>

                      <div class="form-group form-inline">
                        <label class="col-2" style="color: black"><b>Customer Type:</b></label>
                        <div class="mr-3">
                          <input class="form-control" value="{{prd.custo_type}}" type="text" style="width:300px" name = "custo_type">
                        </div>
                        <label class="col-2" style="color: black"><b>Loan Type:</b></label>
                        <div class="mr-3">
                          <input class="form-control" value="{{prd.loan_type}}" type="text" style="width:300px" name = "loan_type">
                        </div>
                      </div>

                    <div style="text-align:center">
                    <button class="btn btn-primary mr-3" type="submit">Update</button>
                    </div>


                  </form>
                </div>
              </div>

            </div>

          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->



    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <footer>
  <center><p></br></p></center>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <script>
    $("#bank_name").on('change', function() {
      var url = $("#form").attr("data-company-url");
      var bankname = $(this).val();


      $.ajax({
        url : url,
        data: {
          'bank': bankname
        },
        success: function(data){
          $("#company_name").html(data);
        }
      });
    });
  </script>

  <script>
    $("#company_name").on('change', function() {
      var url = $("#form").attr("data-cocat-url");
      var companyname = $(this).val();


      $.ajax({
        url : url,
        data: {
          'company': companyname
        },
        success: function(data){
          $("#cocat_type").html(data);
        }
      });
    });
  </script>

  <script type="text/javascript">
    function validate()
    {
      var cust_type = document.form.cust_type.value;
      var loan_type = document.form.loan_type.value;
      var bank_name = document.form.bank_name.value;
      var cocat_type = document.form.cocat_type.value;
      var salary_type = document.form.salary_type.value;
      var designation = document.form.designation.value;
      var min_age = document.form.min_age.value;
      var max_age = document.form.max_age.value;
      var current_exp = document.form.current_exp.value;
      var total_exp = document.form.total_exp.value;
      var cibil_score = document.form.cibil_score.value;
      var tenure = document.form.tenure.value;

      if (cust_type == null || loan_type == null || bank_name == null || cocat_type == null ||
      salary_type == null || designation == null || min_age == null || max_age == null || current_exp == null ||
      total_exp == null || cibil_score == null || tenure == null)
      {
        alert("All Fields Are Mandatory!");
      }
    }
  </script>


</body>

</html>
